
{% extends "@EasyAdmin/page/content.html.twig" %}

{% block content %}

<div class="container">
    <h1 class="mt-4 px-4 pt-5 my-5 text-center fw-bold display-4 text-info">Page de l'administration en Vrac Bleu</h1>
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 lead text-warning">Bienvenue chef !</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4 fw-bold text-info">Vous avez le rôle principal d'administrer le site en Vrac Bleu et
                d'y apporter des modifications importantes liées au fonctionnement du site et de ses utilisateurs.
            </p>
            <p class="lead mb-4 fw-bold text-danger">Faites bon usage de ce super pouvoir et ne passez pas du
                côté obscur comme Dark Vador.
            </p>
            <p class="lead mb-4 fw-bold text-warning">Que la force soit avec vous !</p>
        </div>
    </div>

</div>

{% endblock %}



