{% extends 'base.html.twig' %}

{% block title %}A Propos{% endblock %}

{% block body %}
    <div class="container mt-4 text-center">
        <div class="jumbotron">
            <h1 class="display-4">A Propos</h1>
            <p class="pb-2 lead text-white">L'association qui vous aide à mieux organiser vos stocks, à économiser votre budget et réduire
                la consommation de plastique.
            </p>
        </div>

        <!-- photo a propos-->
        <div id="SlidesOnly" class="slide" data-ride="slide-1">
            <img src="assets/images/aproposnous.jpg" class="img-fluid" alt="image de l'équipe de l'association">
            <br>
            <br>
        </div>

        <!-- Texte Qui sommes-nous-->
        <aside class="text-center mt-4">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-xl-8">
                        <div class="h2 fs-1 mb-4">Qui sommes-nous ?</div>
                        <hr class="my-4">
                    </div>
                </div>
            </div>
        </aside>

        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">

                    <p>En Vrac Bleu est une association à but non lucratif
                        qui a pour objectif d'aider tous les citoyens à mettre en œuvre
                        des actions simples et efficaces dans notre vie quotidienne pour réduire la
                        consommation de plastique et éviter le gaspillage alimentaire
                        grâce à la consommation locale et d'autres petits gestes pour économiser aussi notre budget.
                    </p>

                    <p>Grâce à nos ateliers et à nos conseils, nous vous aidons à mettre en place
                        une stratégie simple et efficace à appliquer dans notre vie quotidienne pour
                        réaliser de grands changements en commençant par des choses simples.
                        Avec notre jardin commun, vous pouvez apprendre à entretenir votre jardin et
                        profiter de la récolte pour participer à nos ateliers de cuisine, gérer les ingrédients
                        disponibles et créer de recettes simples et incroyables en utilisant notre application.
                    </p>

                    <p>La lutte contre le gaspillage alimentaire, le soutien de nos commerçants, des producteurs
                        locaux et la réduction de la consommation d'emballages plastiques, en privilégiant autant que
                        possible la consommation en vrac ou les achats dans des sacs réutilisables et des contenants
                        en verre, sont des gestes importants qui devraient faire partie de notre vie quotidienne afin
                        de contribuer à notre planète. Vous êtes les bienvenus dans notre communauté pour partager avec nos
                        experts bénévoles, participer à des salons, des marchés locaux, et bien d'autres activités.
                    </p>
                    <br>
                </div>
            </div>
        </div>
        <br>
        <br>

        <!-- positions px row col de la section gif et leurs textes-->
        <section>
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-8 order-lg-1 mb-5 mb-lg-0">
                        <div class="container-fluid px-5">
                            <div class="row gx-5">
                                <div class="col-md-6 mb-5">

                                    <!-- textes et icon img CDN carrot -->
                                    <div class="text-center">
                                        <img src="https://img.icons8.com/emoji/48/null/carrot-emoji.png"/>
                                        <h3 class="font-alt">Ateliers de cuisine</h3>
                                        <p class="text-muted mb-0">Pour les membres de l'association ainsi que l'utilisation
                                            notre application, entre autres activités!
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-5">

                                    <!-- textes et icon img CDN pomme -->
                                    <div class="text-center">
                                        <img src="https://img.icons8.com/doodle/48/null/apple.png"/>
                                        <h3 class="font-alt">Potager Vrac Bleu</h3>
                                        <p class="text-muted mb-0">Atelier sur l'entretien du potager et contact avec nos
                                            petits producteurs locaux, dans notre jardin commun!
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 mb-5 mb-md-0">

                                    <!-- textes et icon img CDN cookies -->
                                    <div class="text-center">
                                        <img src="https://img.icons8.com/color/48/null/cookies.png"/>
                                        <h3 class="font-alt">Mon atelier frigo</h3>
                                        <p class="text-muted mb-0">Atelier plus application gratuite, en créant des recettes
                                            simples avec ce qu'il nous reste dans notre frigo ou notre placard!
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-6">

                                    <!-- textes et icon img CDN fromage -->
                                    <div class="text-center">
                                        <img src="https://img.icons8.com/emoji/48/null/cheese-wedge-emoji.png"/>
                                        <h3 class="font-alt">Fabrique Vrac Bleu</h3>
                                        <p class="text-muted mb-0">Participez à la fabrication de sacs avec des matériaux recyclables,
                                            parmi d'autres objets pour la conservation de nos aliments!
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 order-lg-0">

                        <!-- gif -->
                        <div class="features-device-mockup">
                            <div class="device-wrapper">
                                <div class="screen">
                                    <iframe src="https://giphy.com/embed/cKhREMsORpWFd8DQuA" width="270" height="480" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/TikTokArab-chicken-saudi-fried-cKhREMsORpWFd8DQuA"></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <br>
        <br>
        <br>

        <div class="h2 fs-1 mb-4">Nos bénévoles stars</div>
        <hr class="my-4">
            <div class="row">
                <div class="col-lg-4">
                    <img class="rounded-circle" src="assets/images/logo/benevole1.jpg" alt="Generic placeholder image" width="140" height="140">
                    <h2>Mon atelier frigo</h2>
                    <p>Gabriel vous apprendra à bien organiser votre garde-manger et votre réfrigérateur, à optimiser votre temps en cuisine
                        en appliquant des stratégies utilisant notre application Vrac Bleu comme outil dans notre vie quotidienne pour éviter
                        le gaspillage alimentaire.
                    </p>
                </div>
                <div class="col-lg-4">
                    <img class="rounded-circle" src="assets/images/logo/benevole2.jpg" alt="Generic placeholder image" width="140" height="140">
                    <h2>Atelier Potager</h2>
                    <p>Alice vous apprendra à créer un jardin parfait, à optimiser un espace en appliquant des techniques
                        afin de récolter vos propres aliments. Vous pouvez participer à notre projet des ruches d'abeilles,
                        notre potager commun et participer aux expositions des producteurs locaux.
                    </p>
                </div>
                <div class="col-lg-4">
                    <img class="rounded-circle" src="assets/images/logo/benevole3.jpg" alt="Generic placeholder image" width="140" height="140">
                    <h2>Atelier Fabrique Vrac Bleu</h2>
                    <p>Charlotte vous apprendra à fabriquer, recycler et créer les objets qui nous aideront à éviter la consommation
                        de plastique et à conserver notre nourriture pour éviter le gaspillage alimentaire. Vous pouvez participer
                        à notre projet de home staging et à bien d'autres choses encore.
                    </p>
                </div>
            </div>
        <br>
        <br>
    </div>

{% endblock %}