{% extends 'base.html.twig' %}

{% block title %}A Propos{% endblock %}

{% block body %}

    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">A Propos</h1>
            <p class="lead">Secret Bleu Anti-gaspi est un site web qui aide nos nouveaux étudiants à mieux gérer la nourriture et à lutter à leur tour contre le gaspillage alimentaire et à créer de nouvelles recettes pour de futurs projets.
            </p>
            <hr class="my-4">
            <p>Pour commencer, rendez-vous sur la page d'inscription pour utiliser l'application.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
        </div>
    </div>


{% endblock %}