{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}

    <div class="container mt-4 text-center mt-5">
        <h1 class="display-4 fw-bold">Mentions Légales</h1>
        <h2>du site en Vrac Bleu</h2>
    </div>

    <div class="container mt-5">
        <h3>EDITEUR DU SITE</h3>
            <p>Ce site web est le site officiel de France Bénévolat.</p>
            <p>Directeur de la publication : Arthur Petit</p>
            <p>Responsable du site : Noa Berger</p>
            <p>Responsable du site : Louise Leveque</p>

            <h3>RÉALISATION DU SITE</h3>
            <p>Le design et le développement du site internet ont été réalisés par :</p>
            <p>DDWeb -
                <a href="https://danacano.github.io/porfolio-dana-sitesweb/">
                    Dana Développeuse Web
                </a>
            </p>
            <p>Siège social : 28 rue d'octobre 1984 - 75001 Paris.</p>

        <div>
            <p>L'hébergement du site est assuré par : OCH</p>
            <p>SAS au capital de 00000000 € </p>
            <p>DDWEB Paris Métropole 001 002 003 0000</p>
            <p>Code APE 28101984</p>
            <p>N° TVA : FR 28 10 1894 000</p>
            <p>Siège social : 28 rue de la web - 75005 Paris - France.</p>

        </div>

        <h3>DROITS D'AUTEURS ET COPYRIGHT</h3>
        <p>L'ensemble de ce site relève de la législation française et internationale sur le droit d'auteur et la
            propriété intellectuelle. Tous les droits de reproduction sont réservés pour les documents ou information
            (y compris les documents téléchargeables, les représentations iconographiques, photographiques)
            hormis les outils publicitaires ou de communication explicitement autorisés pour libre utilisation
            dans le cadre des missions et des valeurs à France Bénévolat en Vrac Bleu.
        </p>
        <p>
            La reproduction de tout ou partie de ce site sur un support électronique quel qu'il soit est formellement
            interdite sauf autorisation expresse du responsable du site France Bénévolat en Vrac Bleu.
        </p>
        <h3>CRÉDITS</h3>
                <p>Icons made from :  www.icons8.com</p>
                <p>Photos : Pexels et Pixabay</p>

    </div>

{% endblock %}