{% extends 'base.html.twig' %}

{% block title %}Politique de Confidentialité{% endblock %}

{% block body %}

    <div class="container mt-4 text-center mt-5">
    <h1 class="display-4 fw-bold">Politique de Confidentialité</h1>
        <h2>du site en Vrac Bleu</h2>
    </div>

    <div class="container mt-5">
            <p>La présente politique de confidentialité décrit la façon dont vos informations
                personnelles sont recueillies, utilisées et partagées lorsque vous vous rendez sur
                <a href="https://associationenvracbleu.org/">associationenvracbleu.org</a>
            </p>

            <p>La notion de « données à caractère personnel » ou « données personnelles » correspond
                à la définition donnée par l’article 4 du Règlement Général de l’Union Européenne sur
                la protection des Données (RGPD 2016/679) c’est-à-dire à toute information susceptible
                de permettre l’identification d’une personne physique de manière directe ou
                indirecte : nom, prénom, adresse IP, adresse email, etc.
            </p>
            <p>En Vrac Bleu s’engage formellement à ne vendre, louer, échanger ou céder à titre
                gratuit aucune information personnelle.

        <h3>Informations personnelles et données collectées</h3>
        <p>Lorsque vous vous rendez sur le site, nous recueillons automatiquement certaines
            informations concernant votre appareil, notamment des informations sur votre
            navigateur web, votre adresse IP, votre fuseau horaire et certains des cookies
            qui sont installés sur votre appareil. En outre, lorsque vous parcourez le site,
            nous recueillons des informations sur les pages web que vous consultez, les sites
            web ou les termes de recherche qui vous ont permis d’arriver sur le site, ainsi que
            des informations sur la manière dont vous interagissez avec le site.
        </p>
        <p>
            Nous utilisons ces données grâce à Google Analytics pour améliorer l’expérience
            utilisateur site.
        </p>
        <h3>Utilisation des données collectées</h3>
        <p>Les données collectées sont utilisées pour des finalités différentes :</p>
            <ul>
                <li>Formulaire de contact : les données collectées via les formulaires de contact sont utilisées pour le
                    traitement de votre demande et pour la réalisation de statistiques. Les informations renseignées
                    nous permettent de réorienter votre demande.
                </li>
                <li>Formulaire d'inscription : les données collectées sont utilisées uniquement pour pouvoir utiliser
                    l'application en Vrac Bleu.
                </li>
                <li>les cookies sont collectés à des fins de statistiques de consultation et de visite de notre site web.</li>
            </ul>
        <h4>Destinataires</h4>
            <p>L’accès aux données à caractère personnel est limité aux services
                en Vrac Bleu Connect afin de mener à bien l’objectif du traitement.
            </p>

        <h5>Nous contacter</h5>
        <p>Vous pouvez demander à accéder aux informations qui vous concernent, pour les faire rectifier, modifier, ou supprimer,
            pour vous opposer à leur traitement par France Bénévolat en Vrac Bleu ou pour demander leur portabilité, en écrivant au
            délégué à la protection des données à l'adresse suivante : dataprotection@envracbleu.org. Vous pouvez également
            écrire à cette adresse pour définir les conditions d'utilisation, de conservation et de communication de vos données
            à caractère personnel en cas de décès. Vous pouvez aussi introduire une réclamation auprès de la Commission Nationale
            Informatique et Libertés.
        </p>
        <p>Pour en savoir plus sur nos pratiques de confidentialité, si vous avez des questions ou si vous
            souhaitez déposer une réclamation, veuillez nous contacter par e-mail à communication@envracbleu-connect.org,
            ou par courrier à l’adresse suivante :
        </p>
        <p>
            Association en Vrac Bleu
        </p>
        <p>
            11 rue sans issue, 75005 Paris
        </p>
    </div>

{% endblock %}