{% extends 'base.html.twig' %}

{% block title %}Conditions générales d'utilisation{% endblock %}

{% block body %}

    <div class="container mt-4 text-center mt-5">
        <h1 class="display-4 fw-bold">Conditions générales d'utilisation</h1>
        <h2>du site en Vrac Bleu</h2>
    </div>
    <div class="container mt-5">
        <h3>Article 1. Objet</h3>

        <ol>
            <li>Le site internet de France BENEVOLAT en Vrac Bleu est un site accessible par le réseau internet et/ou les
                réseaux mobiles. Ce site est accessible à l’adresse
                <a href="https://associationenvracbleu.org/">associationenvracbleu.org</a>.
            </li>
            <li>L’utilisation du Site par toute personne quel que soit l’objet de sa visite (ci-après l’ « Utilisateur ») est
                régie par les présentes conditions générales d’utilisation (ci-après « CGU »).
            </li>
            <li>Ainsi, les présentes CGU ont pour objet de définir les conditions et modalités de l’accès et de l’utilisation du Site.</li>
            <li>En accédant et en utilisant le Site et son contenu, l’Utilisateur accepte et s’engage à respecter les présentes CGU.
                L’utilisation du Site entraîne l’acceptation pleine et entière des présentes.
            </li>
        </ol>

        <h3>Article 2. Prérequis</h3>

        <ol>
            <li value="5"> L’Utilisateur déclare avoir obtenu de la part de FRANCE BENEVOLAT toutes les informations
                nécessaires quant aux services proposés et adhère sans réserve aux CGU.
            </li>
            <li value="6">L’Utilisateur reconnait que l’utilisation du Site nécessite le respect de l’ensemble
                des prescriptions définies au sein des présentes.
            </li>
        </ol>

        <h3>Article 3.Documents contractuels</h3>

        <ol>
            <li value="7">  Les documents contractuels qui s’imposent à l’Utilisateur sont :
                -    les CGU.
        </ol>

        <h3>Article 4. Acceptation et opposabilité des CGU</h3>

        <p>Acceptation</p>
        <ol>
            <li value="8"> Les Utilisateurs peuvent utiliser et avoir accès au Site sous réserve de l’acceptation préalable des CGU.
            </li>
            <li value="9">L’Utilisateur déclare avoir obtenu de la part de FRANCE BENEVOLAT en Vrac Bleu toutes les informations nécessaires quant
                aux services proposés depuis le Site et adhère sans réserve aux CGU.
            </li>
        </ol>

        <p>Modification</p>
        <ol>
            <li value="10"> Les CGU sont susceptibles d’être modifiées ou aménagées à tout moment par FRANCE BENEVOLAT afin de faire évoluer le Site.
            </li>
            <li value="11">Pour être informé de ces éventuelles modifications, FRANCE BENEVOLAT en Vrac Bleu recommande à l’Utilisateur de consulter régulièrement
                les CGU. L’utilisation du Site sera soumise aux CGU en vigueur au moment de l’utilisation.
            </li>
            <li value="12">Toute utilisation du Site après la modification des CGU vaut acceptation par l’utilisateur des nouvelles CGU.
            </li>
            <li value="13">Les CGU figurant en ligne depuis le Site prévalent sur toute version imprimée de date antérieure.
            </li>
        </ol>

        <p>Modification</p>
        <ol>
            <li value="14"> Les CGU sont susceptibles d’être modifiées ou aménagées à tout moment par FRANCE BENEVOLAT afin de faire évoluer le Site.
            </li>
            <li value="15">L’utilisateur peut à tout moment renoncer à utiliser le Site et les services associés mais reste responsable de toute
                utilisation antérieure.
            </li>
        </ol>

        <h3>Article 5. Conditions d’accès</h3>

        <p>Modification</p>
        <ol>
            <li value="16"> Le Site est accessible 24h/24 et 7 jours/7.
            </li>
            <li value="17">Toutefois, En Vrac Bleu se réserve le droit, sans préavis, ni indemnité, de fermer temporairement ou définitivement
                tout ou partie du Site ou l’accès à un ou plusieurs services notamment pour effectuer une mise à jour, des opérations
                de maintenance, des modifications ou changements sur les méthodes opérationnelles, les serveurs et les heures d’accessibilité,
                sans que cette liste ne soit limitative.
            </li>
            <li value="18">En Vrac Bleu n'est pas responsable des dommages de toute nature qui peuvent résulter de ces changements et/ou d'une indisponibilité
                temporaire ou encore de la fermeture définitive de tout ou partie du Site ou d’un ou plusieurs de ses services. En Vrac Bleu se réserve
                le droit de compléter ou de modifier, à tout moment le Site en fonction notamment de l’évolution de la technologie.
            </li>
            <li value="19">Les CGU figurant en ligne depuis le Site prévalent sur toute version imprimée de date antérieure.
            </li>
        </ol>

        <h3>Article 6. Utilisation des services et règles de conduites</h3>

        <p>Licence d’utilisation</p>
        <ol>
            <li value="20"> En Vrac Bleu accorde à l’utilisateur un simple droit d’accès et d’utilisation du Site. Cette licence accordée est révocable,
                gratuite, non-exclusive et mondiale. Elle est destinée à une utilisation personnelle dans les conditions des présentes.
            </li>
            <li value="21">Règles de conduite : Obligations de l’utilisateur.
                <ol>
                    <li>à utiliser le Site à des fins exclusivement non commerciales ;</li>
                    <li>à ne pas détourner la finalité du Site ;</li>
                    <li>à ne pas utiliser le Site à des fins collectives, commerciales, publicitaires ou de communication;</li>
                    <li>à ne pas poster des commentaires dont le contenu serait illégal,
                        préjudiciable, menaçant, injurieux, harcelant, délictuel, diffamatoire, vulgaire, obscène, odieux, désobligeant
                        ou choquant d’un point de vue racial, ethnique ou autre, contraire à l’ordre public ou aux bonnes mœurs, et/ou
                        porterait atteinte à la vie privée d’une personne en ce compris son droit à l’image,
                    </li>
                    <li>à ne pas télécharger et insérer vers le Site des photos, vidéo, séquences sur lesquelles
                        l’Utilisateur n’est détenteur d’aucun droit ;
                    </li>
                    <li> à ne commettre aucun acte de contrefaçon, à ne pas reproduire, télécharger, représenter, adapter,
                        mettre à la disposition du public, mettre en réseau, modifier, tout ou partie du Site;
                    </li>
                    <li>à ne pas usurper l’identité et/ou la photo d’une autre personne et/ou créer une fausse identité;</li>
                    <li>à ne pas télécharger vers le Site, envoyer par courrier électronique ou transmettre par tout autre moyen des éléments publicitaires ou promotionnels non sollicités ou non autorisés, des « imprimés
                        publicitaires », des « informations mensongères », des « chaînes de lettres » ou toute autre forme de sollicitation ;
                    </li>
                    <li>à ne pas perturber le bon fonctionnement du Site ou l’interrompre, et notamment à ne pas introduire de virus ou
                        toute autre technologie nuisible au Site, ou aux services qui y sont proposés ;
                    </li>
                    <li>à ne pas tenter de sonder, scruter ou tester la vulnérabilité d’un système ou d’un réseau ou encore d’enfreindre les
                        mesures de sécurité ou d’authentification sans en avoir reçu l’autorisation.
                    </li>
                </ol>
            </li>
        </ol>

        <h3>Article 7. Création d’un Espace Personnel – Identifiant et mot de passe</h3>

        <ol>
            <li value="22"> Tout Utilisateur (notamment les Associations, partenaires ou candidats bénévoles) pourra créer un espace abonné
                auquel sont associé un identifiant et un mot de passe que l’Utilisateur aura choisi (ci-après « l’Espace Personnel»).
            </li>
            <li value="23">La création de cet Espace Personnel s'effectue en ligne.</li>
            <li value="24">L’Utilisateur doit veiller à déclarer des coordonnées complètes et à les actualiser régulièrement.</li>
            <li value="25">L’Utilisateur doit prendre toutes les mesures nécessaires pour s’assurer que son mot de
                passe reste confidentiel et sécurisé.
            </li>
            <li value="26">L’Utilisateur est seul responsable de la validité et du caractère complet des informations qu’il a communiqué.</li>
            <li value="27">L’Utilisateur s'engage à ce que son Espace Abonné ne contienne : aucune information  fausse et/ou mensongère,
                aucune information portant atteinte aux droits d'un tiers.
            </li>
        </ol>

        <h3>Article 9. Propriété intellectuelle</h3>
        <p>Les CGU n’emportent aucune cession d’aucune sorte de droits de propriété intellectuelle sur les éléments appartenant à en Vrac Bleu, en ce expressément compris les noms, marques, logo accessible grâce au Site.
            Les marques, les images, les textes, les photos, les logos, les chartes graphiques, les logiciels et programme, études, les bases de données ; les vidéos, les noms de domaines, design
            ou tout autre élément composant le Site ci-après désignés dans leur ensemble (" Eléments "), à l’exception des éléments de tiers définis ci-dessous, sont la
            propriété exclusive de Vrac Bleu et sont protégés par tout droit de propriété intellectuelle ou industrielle reconnu par les lois en vigueur.
            France Bénévolat est producteur des bases de données du Site. En conséquence, toute extraction et/ou réutilisation de la ou des bases de données au sens des
            articles L 342-1 et L 342-2 du code de la propriété intellectuelle est interdite.
           Toute reproduction et/ou représentation, totale ou partielle d’un de ces droits, sans l’autorisation expresse de Vrac Bleu, est interdite et
            constituerait une contrefaçon. En conséquence, l’Utilisateur s'interdit tout agissement et tout acte susceptible de porter atteinte directement ou
            indirectement aux droits de propriété intellectuelle de Vrac Bleu.
        </p>



    </div>

{% endblock %}

